@import './_variables';

@mixin coolmixing($color) {
    background: $color;
    display: flex;
    justify-content: center;
    color: $textColor;
}

header{
    @include coolmixing($main_color);
    button{
        background: $primaryBtn;
        &:hover{
            background-color: $textColor;
        }
        &::after{
            content: "coool";
        }
    }
}

.contact{
    button{
        background: $primaryBtn;
    }
} 

